body{
    background-color: #438930;
    text-align: center;
}
.nav1{
  color: white;
}
.nav1{
    background-color: #c4c4c4;
    padding: 15px;
    text-align: center;
    color: white;
}
.section1{
    background-color: #438930;
.image{
    border-radius: 50%;
}